* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}


/*fonts*/

@font-face {
    src: url(fonts/BOOTLE__.TTF);
    font-family: bootle;
}

h1 {
    font-family: bootle;
    font-size: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2rem;
    text-align: center;
    margin: 0;
}


/* Styles */



/*image*/

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

#img-caption {
    background: white;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}


/* Main Info */

#tribute-info {
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

ul {
    list-style-type: disc;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
}

li {
    margin: 1rem 0;
}


/* Decorative Image */

blockquote {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

#tribute-link {
    margin-top: 2.5rem;
}

/*footer*/

footer {
    background-color: #ccc;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
}