/*fonts*/
@font-face {
    src: url(fonts/BOOTLE__.TTF);
    font-family: bootle;
}

h1 {
    font-family: bootle;
}

/*image*/
#image {
    display: block;
    margin-left: 160px;
}

#img-div {
    background: #cccccc;
}