* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}


/*fonts*/

@font-face {
    src: url(fonts/BOOTLE__.TTF);
    font-family: bootle;
}

h1 {
    font-family: bootle;
    font-size: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2rem;
    text-align: center;
    margin: 0;
}


/*image*/

figure {
    text-align: right;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

#img-caption {
    background: white;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    text-align: center;
}

#img-div {
    background: #ccc;
}


/* Main Info */

#tribute-info {
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

ul {
    list-style-type: disc;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
}

li {
    margin: 1rem 0;
}


/* blockqoute */

blockquote {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

#tribute-link {
    margin-top: 2.5rem;
    text-align: center;
}

/*footer*/

footer {
    background-color: #ccc;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
}

/* Decorative Image */

#decorative {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}


/* Media Query */

@media (min-width: 640px) {
    h1 {
        position: absolute;
        margin-top: 7.8rem;
        margin-left: 2.6rem;
    }
}

@media (min-width: 960px) {
    h1 {
        font-size: 5rem;
        margin-top: 10.8rem;
        margin-left: 3.6rem;
    }
}

@media (min-width: 1300px) {
    h1 {
        font-size: 8rem;
        margin-top: 15.8rem;
        margin-left: 3.6rem;
    }
