/*fonts*/
@font-face {
    src: url(fonts/BOOTLE__.TTF);
    font-family: bootle;
}

h1 {
    font-family: bootle;
}

/*h1 on top of img*/
h1 {
    position: absolute;
    z-index: 1;
    font-size: 128px;
    padding-top: 246px;
    padding-left: 62px;
}

#img-div {
    position: relative;
}

/*image*/
#image {
    display: block;
    margin-left: 160px;
}

#img-div {
    background: #cccccc;
}

