/*fonts*/

@font-face {
    src: url(fonts/BOOTLE__.TTF);
    font-family: bootle;
}

h1 {
    font-family: bootle;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*h1 on top of img*/

h1 {
    position: absolute;
    z-index: 1;
    font-size: 128px;
    padding-top: 246px;
    padding-left: 62px;
}

#img-div {
    position: relative;
}

/*image*/

#image {
    display: block;
    margin-left: 160px;
}

#img-div {
    background: #ccc;
}

#img-caption {
    background: white;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

/*main info*/

#tribute-info {
    padding-left: 100px;
    padding-right: 100px; 
}

#description, #facts {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 24px;
}

hr {
    width: 50%;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

ul {
    list-style-type: disc;
    line-height: 24px;
    text-align: justify;
    padding-left: 110px;
    padding-right: 110px;
}

li {
    margin: 16px 0;
}